.hl-default {
  color: Black;
}
.hl-code {
  color: Gray;
}
.hl-brackets {
  color: Olive;
}
.hl-comment {
  color: Orange;
}
.hl-quotes {
  color: Darkred;
}
.hl-string {
  color: Red;
}
.hl-identifier {
  color: Blue;
}
.hl-builtin {
  color: Teal;
}
.hl-reserved {
  color: Green;
}
.hl-inlinedoc {
  color: Blue;
}
.hl-var {
  color: Darkblue;
}
.hl-url {
  color: Blue;
}
.hl-special {
  color: Navy;
}
.hl-number {
  color: Maroon;
}
.hl-inlinetags {
  color: Blue;
}
.hl-main { 
  background-color: #F5F5F5;
}
.hl-gutter {
  background-color: #999999;
  color: White
}
.hl-table {
  font-family: courier;
  font-size: 14px;
  border: solid 1px Lightgrey;
}
.hl-title {    
  font-family: Tahoma;
  font-size: 22px;
  border: solid 1px Lightgrey;
  background-color: #F0F0F0;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
}